<div class="my-3">
  <a *ngIf="logged()" class="btn btn-info text-white w-25 " data-bs-toggle="modal" data-bs-target="#createModal">Tạo
    công việc mới</a>
  <div class="float-end">
    <input type="text" placeholder="Tìm người thực hiện" class="form-control" [(ngModel)]="searchText"
      (input)="getTaskByProjectId()">
  </div>
</div>

<h4 class="my-3 text-primary">Danh sách công việc trong dự án</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Tên task</th>
      <th scope="col">Mô tả</th>
      <th scope="col">Người thực hiện</th>
      <th scope="col">Độ ưu tiên</th>
      <th scope="col">Trạng thái</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of taskList">
      <td>{{task.taskName}}</td>
      <td>{{task.taskDescription}}</td>
      <td>{{task.taskImplementer}}</td>
      <td>{{task.taskPriority}}</td>
      <td>{{task.taskStatus}}</td>
      <td class="d-flex">
        <a class="btn btn-secondary text-white mx-3 w-50" data-bs-toggle="modal" data-bs-target="#editModal"
          (click)="getOneTask(task.id)">Sửa</a>
        <a *ngIf="logged()" class="btn btn-secondary text-white w-50" (click)="handleDeleteTask(task.id)">Xóa</a>
      </td>
    </tr>
  </tbody>

</table>

<div *ngIf="taskList.length == 0">
  Không tìm thấy task nào!
</div>

<!-- Modal edit -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:600px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cập nhật công việc</h5>
        <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
      </div>
      <div class="modal-body">
        <form action="" #formUpdate="ngForm">
          <div class="mb-3 row">
            <label for="taskName" class="col-sm-2 col-form-label">Tên dự án</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="taskName" id="taskName" ngModel [(ngModel)]="task.taskName">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="taskDescription" class="col-sm-2 col-form-label">Mô tả</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="taskDescription" id="taskDescription" ngModel
                [(ngModel)]="task.taskDescription">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="taskImplementer" class="col-sm-2 col-form-label">Người thực hiện</label>
            <div class="col-sm-10">
              <select class="form-select" name="taskImplementer" id="taskImplementer"
                [(ngModel)]="task.taskImplementer">
                <option [value]="e.employeeName" *ngFor="let e of employeeList">{{e.employeeName}}</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="taskPriority" class="col-sm-2 col-form-label">Độ ưu tiên</label>
            <div class="col-sm-10">
              <select class="form-select" name="taskPriority" id="taskPriority" [(ngModel)]="task.taskPriority">
                <option [value]="p.name" *ngFor="let p of priorityList">{{p.name}}</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="taskStatus" class="col-sm-2 col-form-label">Trạng thái</label>
            <div class="col-sm-10">
              <select class="form-select" name="taskStatus" id="taskStatus" [(ngModel)]="task.taskStatus">
                <option [value]="s.name" *ngFor="let s of statusList">{{s.name}}</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</a>
            <a type="button" class="btn btn-primary" (click)="handleEditTask()" data-bs-dismiss="modal">Cập nhật
              task</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal create-->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  *ngIf="taskList">
  <div class="modal-dialog">
    <div class="modal-content" style="width:700px">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm công việc mới</h5>
        <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="formCreateSubmit()" #formCreate="ngForm" action="">

          <div class="mb-3 row">
            <label for="taskName" class="col-sm-2 col-form-label">Tên công việc</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="taskName" name="taskName" required ngModel
                [(ngModel)]="task.taskName">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="taskDescription" class="col-sm-2 col-form-label">Mô tả</label>
            <div class="col-sm-10">
              <textarea class="form-control" placeholder="Nhập mô tả công việc" name="taskDescription"
                id="taskDescription" cols="30" rows="5" [(ngModel)]="task.taskDescription"></textarea>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="taskImplementer" class="col-sm-2 col-form-label">Người thực hiện</label>
            <div class="col-sm-10">
              <select class="form-select" name="taskImplementer" id="taskImplementer"
                [(ngModel)]="task.taskImplementer">
                <option [value]="e.employeeName" *ngFor="let e of employeeList">{{e.employeeName}}</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="taskPriority" class="col-sm-2 col-form-label">Độ ưu tiên</label>
            <div class="col-sm-10">
              <select class="form-select" name="taskPriority" id="taskPriority" [(ngModel)]="task.taskPriority">
                <option [value]="p.name" *ngFor="let p of priorityList">{{p.name}}</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</a>
            <button type="button" (click)="formCreateSubmit()" class="btn btn-primary" data-bs-dismiss="modal"
              [disabled]="formCreate.invalid">Thêm task</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>