<div class="my-3">
  <a routerLink="create" class="btn btn-info text-white w-25 " data-bs-toggle="modal" data-bs-target="#createModal">Tạo
    công việc mới</a>
  <div class="float-end">
    <input type="text" placeholder="Tìm kiếm công việc" class="form-control">
  </div>
</div>

<h4 class="my-3 text-primary">Danh sách công việc trong dự án</h4>
<table class="table" *ngIf="taskList">
  <thead>
    <tr>
      <th scope="col">Tên task</th>
      <th scope="col">Mô tả</th>
      <th scope="col">Người thực hiện</th>
      <th scope="col">Độ ưu tiên</th>
      <th scope="col">Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{taskList.taskName}}</td>
      <td>{{taskList.taskDescription}}</td>
      <td>{{taskList.taskImplementer}}</td>
      <td>{{taskList.taskPriority}}</td>
      <td>{{taskList.taskStatus}}</td>
    </tr>
  </tbody>

</table>

<div *ngIf="isNotFound">
  Không tìm thấy task nào!
</div>