<nav class="navbar navbar-expand-lg navbar-light bg-light bg-gradient  px-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img style="width:50px;" class="rounded-circle"
        src="https://images.weserv.nl/?url=https%3A%2F%2Flh3.googleusercontent.com%2Fa-%2FAOh14GhUigrReywgtRTgeW77KiP1up9ro5ruHpIla3bmnQ%3Ds96-c&w=50&h=50&fit=outside"
        alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav nav-tabs me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-body" aria-current="page" [routerLinkActiveOptions]={exact:true}
            routerLinkActive="active" routerLink="/home">Bảng điều khiển</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body" routerLinkActive="active" routerLink="/projects">Dự án</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-body" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            routerLinkActive="active" aria-expanded="false">
            Quản lý tài khoản
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngIf="!logged()"><a class="dropdown-item text-body" routerLink="/signin">Đăng nhập</a></li>
            <li *ngIf="!logged()"><a class="dropdown-item text-body" routerLink="/signup">Đăng ký</a></li>
            <li><span class="dropdown-item text-body" data-bs-toggle="modal" data-bs-target="#openUsernameCheck">Quên
                mật
                khẩu?</span></li>
            <li *ngIf="logged()"><a class="dropdown-item text-body" routerLink="" (click)="logout()">Đăng xuất</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-body" routerLinkActive="active" routerLink="/employees">Danh sách nhân viên</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-body" routerLinkActive="active" routerLink="/introduce">Giới thiệu</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
        <button class="btn btn-primary " style="width: 150px;" type="submit">Tìm kiếm</button>
      </form>
    </div>
  </div>
</nav>

<!-- Modal username-->
<div class="modal fade" id="openUsernameCheck" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kiểm tra username</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="username" class="form-label">Nhập username để kiếm tra</label>
          <input type="text" class="form-control" id="username" placeholder="Nhập username" [(ngModel)]="username">
        </div>
        <em *ngIf="isError" class="text-danger">
          Username không chính xác!
        </em>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="checkUsername()"
          [attr.data-bs-target]="isUsername ? '#openPasswordReset' : null"
          [attr.data-bs-toggle]="isUsername ? 'modal' : null">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal password-->
<div class="modal fade" id="openPasswordReset" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mật khẩu mới</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="username" class="form-label">Nhập mật khẩu mới</label>
          <input type="text" class="form-control" id="username" placeholder="Nhập mật khẩu mới"
            [(ngModel)]="newPassword">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="handleChangePassword()" data-bs-dismiss="modal">Save
          changes</button>
      </div>
    </div>
  </div>
</div>