<h1 class="text-center">Login</h1>
<form class="form-signin" #formSignIn="ngForm">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required [(ngModel)]="username"
      #usernameErr="ngModel">
    <em *ngIf="passErr.errors?.['required'] " class="text-danger">
      Bạn phải nhập username!
    </em>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" #passErr="ngModel"
      required minlength="6">
    <em *ngIf="passErr.errors?.['minlength']&&passErr.errors?.['invalid']" class="text-danger">
      Password dài từ 6 ký tự ha!
    </em>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="formSignIn.invalid">Login</button>
  <p> Value : {{formSignIn.value|json}} </p>
</form>