<div class="my-3">
  <a *ngIf="logged()" routerLink="create" class="btn btn-secondary text-white w-25 " data-bs-toggle="modal"
    data-bs-target="#addEmployee">Thêm nhân viên mới</a>
  <div class="float-end">
    <input type="text" placeholder="Tìm kiếm nhân viên" class="form-control" [(ngModel)]="searchText"
      (input)="handleSearchEmployee()">
  </div>
</div>

<table class="table table-info">
  <thead>
    <tr>
      <th scope="col">Mã nhân viên</th>
      <th scope="col">Tên nhân viên</th>
      <th scope="col">Ngày sinh</th>
      <th scope="col">Địa chỉ</th>
      <th *ngIf="logged()"></th>
    </tr>
  </thead>
  <tbody *ngIf="employeeList && employeeList.length > 0;else noData">
    <tr *ngFor="let employee of employeeList">
      <th scope="row">{{employee.id}}</th>
      <th scope="row">{{employee.employeeName}}</th>
      <td>{{employee.employeeBirthDate}}</td>
      <td>{{employee.employeeAddress}}</td>
      <td class="d-flex" *ngIf="logged()">
        <a [routerLink]="['/employees','edit',employee.id]" class="btn btn-info text-white mx-3 w-50"
          data-bs-toggle="modal" data-bs-target="#editModal" (click)="getOneEmployee(employee.id)">Sửa</a>
        <a class="btn btn-info text-white w-50" routerLink="delete" (click)="handleDeleteEmployee(employee.id)">Xóa</a>
      </td>
    </tr>
  </tbody>

  <tr *ngIf="isLoading">
    <h4 class="text-center text-primary">Loading...</h4>
  </tr>

  <ng-template #noData>
    <p class="text-center fs-5 my-3" style="border:none">
      Không tìm thấy nhân viên nào!
    </p>
  </ng-template>
</table>

<!-- Modal addEmployee -->
<div class="modal fade" id="addEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:600px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm nhân viên mới</h5>
        <a routerLink="/employees" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="formCreateSubmit()" #formCreate="ngForm" [formGroup]="formEmployee">

          <div class="mb-3 row">
            <label for="employeeName" class="col-sm-2 col-form-label">Tên nhân viên</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="employeeName" name="employeeName"
                formControlName="employeeName" required>
              <em *ngIf="formEmployee.controls['employeeName']?.invalid" class="text-danger">
                Bạn phải nhập tên nhân viên !
              </em>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="employeeBirthDate" class="col-sm-2 col-form-label">Ngày sinh</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="employeeBirthDate" id="employeeBirthDate"
                formControlName="employeeBirthDate" required>
              <em *ngIf="formEmployee.controls['employeeBirthDate']?.invalid" class="text-danger">
                Bạn phải nhập ngày sinh !
              </em>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="employeeAddress" class="col-sm-2 col-form-label">Địa chỉ</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="employeeAddress" name="employeeAddress"
                formControlName="employeeAddress" required>
              <em *ngIf="formEmployee.controls['employeeAddress']?.invalid" class="text-danger">
                Bạn phải nhập địa chỉ !
              </em>
            </div>
          </div>

          <div class="modal-footer">
            <a routerLink="/employees" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</a>
            <button type="button" class="btn btn-primary" (click)="formCreateSubmit()" data-bs-dismiss="modal"
              [disabled]="formCreate.invalid">Thêm
              nhân viên</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal edit employeee -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:600px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cập nhật nhân viê<nav></nav>
        </h5>
        <a type="button" class="btn-close" routerLink="/employees" data-bs-dismiss="modal" aria-label="Close"></a>
      </div>
      <div class="modal-body">
        <form action="" #formUpdate="ngForm">
          <div class="mb-3 row">
            <label for="employeeName" class="col-sm-2 col-form-label">Tên nhân viên</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="employeeName" id="employeeName" ngModel
                [(ngModel)]="employee.employeeName">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="employeeBirthDate" class="col-sm-2 col-form-label">Ngày sinh</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="employeeBirthDate" id="employeeBirthDate" ngModel
                [(ngModel)]="employee.employeeBirthDate">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="employeeAddress" class="col-sm-2 col-form-label">Địa chỉ</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="employeeAddress" id="employeeAddress" ngModel
                [(ngModel)]="employee.employeeAddress">
            </div>
          </div>
          <div class="modal-footer">
            <a routerLink="/employees" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</a>
            <a type="button" routerLink="/employees" class="btn btn-primary" (click)="handleEditEmployee()"
              data-bs-dismiss="modal">Cập nhật nhân viên</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>