<h1 class="text-center">Sign up</h1>
<form class="form-signup" #formSignUp="ngForm">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required [(ngModel)]="username"
      #usernameErr="ngModel">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password"
      #passErr="ngModel">
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="name" #nameErr="ngModel">
  </div>
  <div class="mb-3">
    <label for="adress" class="form-label">Adress</label>
    <input type="text" class="form-control" id="adress" name="adress" required [(ngModel)]="adress"
      #adressErr="ngModel">
  </div>
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>